<div class="wrapper">
    <app-adminsidebar></app-adminsidebar>
     <div class="main">
        <app-adminnavbar></app-adminnavbar>
         <main class="content px-3 py-2">
             <div class="container-fluid scroll-container">
                 <div class="mb-3">
                     <h4>Admin Dashboard</h4>
                 </div>
                 <div class="row">
                    <div class="col-12 col-md-6 d-flex">
                        <div class="card flex-fill border-0 illustration">
                            <div class="card-body p-0 d-flex flex-fill">
                                <div class="row g-0 w-100">
                                    <div class="col-6">
                                        <div class="p-3 m-1">
                                            <h4>Welcome Back, Admin</h4>
                                            <p class="mb-0">Admin Dashboard, CodzSword</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 d-flex">
                        <div class="card flex-fill border-0">
                            <div class="card-body py-4">
                                <div class="d-flex align-items-start">
                                    <div class="flex-grow-1">
                                        <h4 class="mb-2">$ 78.00</h4>
                                        <p class="mb-2">Total Earnings</p>
                                        <div class="mb-0">
                                            <span class="badge text-success me-2">+9.0%</span>
                                            <span class="text-muted">Since Last Month</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Radar Chart -->
                    <div class="col-12 col-md-6 d-flex">
                        <div class="card flex-fill border-0">
                            <div class="card-body">
                                <app-radar-chart></app-radar-chart>
                            </div>
                        </div>
                    </div>
                     <!-- Pie Chart -->
                     <div class="col-12 col-md-6 d-flex">
                        <div class="card flex-fill border-0">
                            <div class="card-body">
                                <app-pie-chart></app-pie-chart>
                            </div>
                        </div>
                    </div>
                    <!-- Line Chart -->
                    <div class="col-10 col-md-12 d-flex">
                        <div class="card flex-fill border-0">
                            <div class="card-body">
                                <app-line-chart></app-line-chart>
                            </div>
                        </div>
                    </div>
                    <!-- Bar Chart -->
                    <div class="col-10 col-md-12 d-flex">
                        <div class="card flex-fill border-0">
                            <div class="card-body">
                                <app-bar-chart></app-bar-chart>
                            </div>
                        </div>
                    </div>
                   
                </div>
                
             </div>
         </main>
       <app-adminfooter></app-adminfooter>
     </div>
   </div>
   
