.navbar-expand .navbar-nav {
    margin-left: auto;
}

/* Footer and Nav */

@media (max-width:767.98px) {

    .js-sidebar {
        margin-left: -264px;
    }

    #sidebar.collapsed {
        margin-left: 0;
    }

    .navbar,
    footer {
        width: 100vw;
    }
}


/* Navbar Style */

.navbar {
    background: #FFF; /* Add this line for white background */
    color: #12bb1d; /* Add this line for black text */
}

.navbar a {
    color: #000; /* Add this line for black text */
    font-family: 'Roboto', sans-serif; /* Add this line */
}

.avatar {
    height: 38px;
    width: 38px;
}

/* Define la animación */
@keyframes slideIn {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* Estilo para los enlaces de navegación con la línea animada */
.nav-link.text-dark {
    position: relative;
    display: inline-block;
}

.nav-link.text-dark::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Ajusta esta propiedad según la distancia deseada del texto */
    height: 2px; /* Ajusta el grosor de la línea */
    width: 0;
    background-color: #F8D300;
    transition: width 0.3s ease-in-out;
}

.nav-link.text-dark:hover::after {
    width: 100%;
}
