.navbar-expand .navbar-nav {
    margin-left: auto;
}

/* Footer and Nav */

@media (max-width:767.98px) {

    .js-sidebar {
        margin-left: -264px;
    }

    #sidebar.collapsed {
        margin-left: 0;
    }

    .navbar,
    footer {
        width: 100vw;
    }
}


/* Navbar Style */

.navbar {
    background: #FFF; /* Add this line for white background */
    color: #000; /* Add this line for black text */
}

.navbar a {
    color: #000; /* Add this line for black text */
    font-family: 'Roboto', sans-serif; /* Add this line */
}

.avatar {
    height: 38px;
    width: 38px;
}
