<div class="wrapper">
    <app-adminsidebar></app-adminsidebar>
       <div class="main">
           <app-adminnavbar></app-adminnavbar>
           <main class="content px-3 py-2">
               <div class="container-fluid">
                   <div class="mb-3">
                    <nav aria-label="breadcrumb" class="d-flex justify-content-between align-items-center">
                        <ol class="breadcrumb mb-0">
                          <li class="breadcrumb-item"><a href="/admin">Inicio</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Registros</li>
                          <li class="breadcrumb-item" aria-current="page">Agregar Usuario</li>
                        </ol>
                        <a href="/" class="btn btn-outline-primary btn-sm shadow-sm">
                          <i class="bi bi-plus-lg"></i> Añadir Nuevo
                        </a>
                      </nav>
                   </div>
                   <div class="row">
                       <!-----Contenido aqui------->
                      
   
   
                   </div>
                
               </div>
           </main>
           
           <app-adminfooter></app-adminfooter>
       </div>
     </div>
