@media (max-width: 991.98px) {
    .navbar-brand {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color:black;
}