<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
  <div class="container d-flex justify-content-between align-items-center">
      <button class="navbar-toggler order-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation" style="border:0px;box-shadow:none;">
          <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand mx-auto order-0" href="#"><img class="logo responsive" src="img/Logo.svg" alt="Universidad EAFIT"></a>
      <div class="collapse navbar-collapse order-2" id="navbarSupportedContent">
          <ul class="nav nav-pills ms-auto">
            <li class="nav-item"><a routerLink="/" class="nav-link text-dark" aria-current="page">Inicio</a></li>
            <li class="nav-item"><a routerLink="/about" class="nav-link text-dark">Acerca de</a></li>
            <li class="nav-item"><a routerLink="/register" class="nav-link text-dark">Registro</a></li>            
            <li class="nav-item me-2 d-none d-sm-block"><a routerLink="/login" class="btn btn-light "><i class="fa-regular fa-user-circle"></i> Inicio Sesión</a></li>
          </ul>
      </div>
  </div>
</nav>

<!-- Offcanvas Menu -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
  <div class="offcanvas-header">
    <img class="logo responsive" src="img/Logo.svg" alt="Universidad EAFIT" height="45">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Inicio</a>
      </li>
      <li class="nav-item">
        <a href="/about" class="nav-link text-dark">Acerca de</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Registro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Iniciar sesión</a>
      </li>
    </ul>
  </div>
</div>
