@import url(../../../assets/css/lading/home/home.css);

.btn-outline-light {
  color: #fff;
  border-color: #fff;
}

.btn-outline-light:hover {
  background-color: #24306e;
  color: #ffffff;
  border-color: #24306e;
}

