
<app-navbar></app-navbar>

<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
  
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="bd-placeholder-img img-fluid" src="img/home/slide1.jpg" alt="Slide 1">
      <div class="container">
        <div class="carousel-caption">
          <h1>Transforme su Estrategia Empresarial</h1>
          <p class=" d-none d-md-block">Con nuestra plataforma, aproveche herramientas basadas en el libro "EstraMyPyme" para mejorar la gestión y el rendimiento de su empresa.</p>
          <p><a class="btn btn-lg btn-outline-light shadow" href="/register">Regístrese ahora &raquo;</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="bd-placeholder-img img-fluid" src="img/home/slide2.jpg" alt="Slide 2">
      <div class="container">
        <div class="carousel-caption ">
          <h1>Una Solución Integral para su Empresa</h1>
          <p class=" d-none d-md-block">Acceda a análisis detallados y gráficos de sus resultados para tomar decisiones informadas y estratégicas.</p>
          <p><a class="btn btn-lg btn-outline-light shadow" href="#">Descubra más &raquo;</a></p>
        </div>
      </div>
    </div>
    
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>



<!-- Marketing messaging and featurettes -->
<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <div class="features-two__card__icon-box">
        <span class="features-two__card__icon"><i class="fas fa-tasks"></i></span>
    </div>
      <h2 class="fw-normal">Evaluación Completa</h2>
      <p>Realice evaluaciones exhaustivas con base en el contenido del libro "EstraMyPyme" y obtenga resultados precisos para su empresa.</p>
      <p><a class="btn btn-outline-dark shadow-sm" href="#">Ver detalles &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <div class="features-two__card__icon-box">
        <span class="features-two__card__icon"><i class="fas fa-chart-line"></i></span>
    </div>
      <h2 class="fw-normal">Gráficas Dinámicas</h2>
      <p>Visualice sus resultados a través de gráficos interactivos que facilitan la interpretación de datos y la toma de decisiones.</p>
      <p><a class="btn btn-outline-dark shadow-sm" href="#">Ver detalles &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <div class="features-two__card__icon-box">
        <span class="features-two__card__icon"><i class="fas fa-cogs"></i></span>
    </div>
      <h2 class="fw-normal">Panel de Administración</h2>
      <p>Administre y visualice todos los registros y resultados de las pruebas en un panel de control fácil de usar.</p><br>
      <p><a class="btn btn-outline-dark shadow-sm" href="#">Ver detalles &raquo;</a></p>
    </div>
  </div>

<!-- START THE FEATURETTES -->
<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading fw-normal lh-1">Transforme su negocio hoy</h2>
    <p class="lead">Nuestra plataforma le ofrece un análisis profundo basado en el libro "EstraMyPyme", con herramientas para mejorar el desempeño de su empresa.</p>
  </div>
  <div class="col-md-5">
    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="img/home/img-18.png" width="500" height="500">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading fw-normal lh-1">Optimización garantizada</h2>
    <p class="lead">Experimente cómo nuestras herramientas le proporcionan análisis detallados y gráficos para una mejor toma de decisiones.</p>
  </div>
  <div class="col-md-5 order-md-1">
    <div class="ratio ratio-1x1">
      <iframe class="shadow rounded" src="https://www.youtube.com/embed/emo0kUa993U?si=z0_q-cHP7LA14GaX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading fw-normal lh-1">La solución definitiva</h2>
    <p class="lead">Descubra cómo nuestra plataforma puede transformar su empresa y llevarla a un nuevo nivel de rendimiento y éxito.</p>
  </div>
  <div class="col-md-5">
    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="img/home/img-03.png" width="500" height="500">
  </div>
</div>
<!-- /END THE FEATURETTES -->


</div>



  <app-footer></app-footer>