<section style="margin-bottom:6%;" class="signup"> <!-- Clase agregada aquí -->
    <div class="container">
        <br>
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center mt-5 mb-4 informativo">Inicio de sesión</h1>
          </div>
        
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <label for="correoLogin" class="form-label">Correo electrónico</label>
                                <input type="email" id="correoLogin" class="form-control" value="admin@admin.com" required>
                            </div>
                
                            <div class="mb-3">
                                <label for="contrasenaLogin" class="form-label">Contraseña</label>
                                <input type="password" id="contrasenaLogin" class="form-control" value="" required>
                            </div>
                
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input " id="recordarContrasena" checked>
                                <label class="form-check-label" for="recordarContrasena">Recordar contraseña</label>
                            </div>
                
                            <div class="d-grid mb-3">
                                <button type="button" class="btn btn-primary" (click)="validarInicioSesion()">Iniciar sesión</button>
                            </div>
                
                            <div class="text-center">
                                <a href="#" class="text-dark ">¿Olvidó su contraseña?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
