<section style="margin-bottom:15%;">
    <div class="container">
        <br>
        <h2 class="section-title text-center">Inicio de Sesión</h2>
        <p class="text-center">Ingresa tus credenciales para acceder a nuestras herramientas de evaluación.</p>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <label for="correoLogin" class="form-label">Correo electrónico</label>
                                <input type="email" id="correoLogin" class="form-control" value="admin@admin.com" required>
                            </div>

                            <div class="mb-3">
                                <label for="contrasenaLogin" class="form-label">Contraseña</label>
                                <input type="password" id="contrasenaLogin" class="form-control" value="admin123" required>
                            </div>

                            <div class="d-grid">
                                <a  class="btn btn-primary" href="/admin">Iniciar sesión</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


