<div class="wrapper">
    <app-customersidebar></app-customersidebar>
       <div class="main">
           <app-customernavbar></app-customernavbar>
           <main class="content px-3 py-2">
               <div class="container-fluid">
                   <div class="mb-3">
                       <nav aria-label="breadcrumb">
                           <ol class="breadcrumb">
                             <li class="breadcrumb-item"><a href="/customer">Inicio</a></li>
                             <li class="breadcrumb-item active" aria-current="page">Diagnóstico</li>
                             <li class="breadcrumb-item " aria-current="page">Asesoria</li>
                           </ol>
                         </nav>
                   </div>
                   <div class="row">
                       <!-----Contenido aqui------->
                      
   
   
                   </div>
                
               </div>
           </main>
           
           <app-customerfooter></app-customerfooter>
       </div>
     </div>
     
