<br>
<h1>Aplicación de la estretegia Estramypyme</h1>
<form class="question">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Por que y para que se fundó la empresa ?</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Cuando ?</label>
      <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Cuantos empleados tiene ?</label>
        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
    <button type="submit" class="btn btn-primary">Terminar</button>
</form>