<div class="container">
  <div class="row">
      <div class="col-12">
        <div class="col-md-8 offset-md-2">
          <h1 class="text-center mt-5 mb-4 informativo">Diagnóstico</h1>
        </div>
          <div class="card shadow-sm">
              <div class="card-body">
                  <form>
                      <div class="mb-12">
                          <label for="datos-caracteristicas" class="form-label">¿Cuáles son los datos y características más importantes de tu negocio?</label>
                          <textarea class="form-control" id="datos-caracteristicas" rows="3"></textarea>
                      </div>
                      <div class="mb-12">
                          <label for="tendencias-mundiales" class="form-label">¿Qué tendencias mundiales has identificado en internet que podrían afectar a tu negocio en el futuro?</label>
                          <textarea class="form-control" id="tendencias-mundiales" rows="3"></textarea>
                      </div>
                      <div class="mb-12">
                          <label for="conversaciones" class="form-label">¿Has conversado con personas que conocen del negocio y del sector? Si es así, ¿qué información relevante obtuviste?</label>
                          <textarea class="form-control" id="conversaciones" rows="3"></textarea>
                      </div>
                      <div class="mb-12">
                          <label for="principales-competidores" class="form-label">¿Quiénes son los principales competidores en tu sector?</label>
                          <input type="text" class="form-control" id="principales-competidores">
                      </div>
                      <div class="mb-12">
                          <label for="nuevos-entrantes" class="form-label">¿Existen posibles nuevos entrantes en tu sector?</label>
                          <input type="text" class="form-control" id="nuevos-entrantes">
                      </div>
                      <div class="mb-12">
                          <label for="productos-sustitutos" class="form-label">¿Qué productos sustitutos podrían amenazar tu negocio y quién tiene más poder de negociación en el sector (clientes o proveedores)?</label>
                          <textarea class="form-control" id="productos-sustitutos" rows="3"></textarea>
                      </div>
                      <div class="mb-12">
                          <label for="tendencias-relacionadas" class="form-label">¿Cuáles tendencias mundiales tienen mayor relación con tu sector y cuáles no?</label>
                          <textarea class="form-control" id="tendencias-relacionadas" rows="3"></textarea>
                      </div>
                      <div class="mb-12">
                          <label for="riesgos-oportunidades" class="form-label">¿Cuáles son los riesgos y oportunidades que has identificado en las tendencias mundiales y en el sector analizado?</label>
                          <textarea class="form-control" id="riesgos-oportunidades" rows="3"></textarea>
                      </div>
                      <div class="mb-12">
                          <label for="riesgo-oportunidad-principal" class="form-label">¿Cuál consideras que es el principal riesgo y la principal oportunidad para tu negocio?</label>
                          <textarea class="form-control" id="riesgo-oportunidad-principal" rows="3"></textarea>
                      </div>
                      <div class="mb-12">
                          <label for="informacion-relevante" class="form-label">¿Qué información relevante has obtenido de las conversaciones respecto al propósito del negocio, la propuesta de valor, los productos y servicios que ofrece, la percepción de valor de los clientes, y la política de precios?</label>
                          <textarea class="form-control" id="informacion-relevante" rows="3"></textarea>
                      </div>
                      <div class="mb-12">
                          <label for="herramientas-estrategia" class="form-label">¿Qué herramientas de estrategia has aplicado para tener una visión integral del negocio?</label>
                          <textarea class="form-control" id="herramientas-estrategia" rows="3"></textarea>
                      </div>
                      <div class="mb-12">
                          <label for="ayuda-herramientas" class="form-label">¿Cómo te han ayudado estas herramientas a entender mejor tu negocio?</label>
                          <textarea class="form-control" id="ayuda-herramientas" rows="3"></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary" style="margin-top:2%;">Enviar Diagnóstico</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>