<div class="wrapper">
    <aside id="sidebar" class="js-sidebar shadow">
        <!-- Content For Sidebar -->
        <div class="h-100">
            <div class="sidebar-logo">
              <img class="logo responsive" src="img/Logo.svg" alt="Universidad EAFIT" height="45">
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-header">
                     Elementos Cliente
                </li>
                <li class="sidebar-item">
                    <a href="/customer" class="sidebar-link">
                        <i class="fa-solid fa-home pe-2"></i>
                        Inicio
                    </a>
                </li>
              
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" data-bs-target="#diagnostico" data-bs-toggle="collapse"
                        aria-expanded="false"><i class="fa-solid fa-chart-line pe-2"></i>
                        Diagnóstico
                    </a>
                    <ul id="diagnostico" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="/customer" class="sidebar-link">Realizar Test</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/customer" class="sidebar-link">Asesoria</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" data-bs-target="#recursos" data-bs-toggle="collapse"
                        aria-expanded="false"><i class="fa-solid fa-book pe-2"></i>
                        Recursos
                    </a>
                    <ul id="recursos" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="/resourcefile" class="sidebar-link">Libro EstraMiPyme</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/manuales" class="sidebar-link">Manuales y Guías</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" data-bs-target="#resultados" data-bs-toggle="collapse"
                        aria-expanded="false"><i class="fa-solid fa-chart-bar pe-2"></i>
                        Resultados
                    </a>
                    <ul id="resultados" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="/customer" class="sidebar-link">Ver Diagnósticos</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/customer" class="sidebar-link">Reportes</a>
                        </li>
                    </ul>
                </li>
              
                <li class="sidebar-header">
                    Seguridad
                </li>
                <li class="sidebar-item">
                    <a href="/configuracion" class="sidebar-link">
                        <i class="fa-solid fa-user-cog pe-2"></i>
                        Configuración
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/soporte" class="sidebar-link">
                        <i class="fa-solid fa-life-ring pe-2"></i>
                        Soporte Técnico
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link" (click)="handleLogout()">
                        <i class="fa-solid fa-sign-out-alt pe-2"></i>
                        Cerrar Sesión
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <div class="main">
        <nav class="navbar navbar-expand px-3 border-bottom shadow-sm">
            <button class="btn" id="sidebar-toggle" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse navbar">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
                            <img src="img/panel/user.png" class="avatar img-fluid rounded" alt="">
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="#" class="dropdown-item">Perfil</a>
                            <a href="#" class="dropdown-item">Configuración</a>
                            <a class="dropdown-item" (click)="handleLogout()">Cerrar Sesión</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <main class="content px-3 py-2">
            <div class="container-fluid">
                <div class="mb-3">
                    
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="/customer">Inicio</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Libro Estramipyme</li>
                        </ol>
                      </nav>
                    
                </div>
                <div class="row">
                    <div class="col-12">
                        <iframe src="files/LibroEstramyPyme.pdf" class="pdf-iframe" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </main>
        
        <footer class="footer">
            <div class="container-fluid">
                <div class="row text-muted">
                    <div class="col-6 text-start">
                        <p class="mb-0">
                            <a href="#" class="text-muted">
                                <strong>Eafit Editorial</strong>
                            </a>
                        </p>
                    </div>
                    <div class="col-6 text-end">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="#" class="text-muted">Contacto</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="text-muted">Sobre nosotros</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="text-muted">Términos</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
