<div class="container">
    <div class="row">
        <div class="col-12">
          <div class="col-md-8 offset-md-2">
            <h1 class="text-center mt-5 mb-4 informativo">Registro de consultores</h1>
          </div>
            <div class="card shadow-sm">
                <div class="card-body">
                    <form>
                        <div class="mb-12">
                            <label for="datos-caracteristicas" class="form-label">Nombre</label>
                            <input class="form-control" id="datos-caracteristicas" rows="3" >
                        </div>
                        <div class="mb-12">
                            <label for="tendencias-mundiales" class="form-label">Primer apellido</label>
                            <input class="form-control" id="tendencias-mundiales" rows="3" >
                        </div>
                        <div class="mb-12">
                            <label for="conversaciones" class="form-label">Segundo apellido</label>
                            <input class="form-control" id="conversaciones" rows="3" >
                        </div>
                        <br>
                        <div class="mb-12">
                            <label for="role">Seleccione el tipo del consultor</label>
                            <select class="form-select" id="role" aria-label="Default select example">
                                <!-- <option selected>Open this select menu</option> -->
                                <option value="1">Profesor</option>
                                <option value="2">Estudiante</option>
                              </select>
                        </div>
                        <br>
                        <div class="mb-12">
                            <label for="nuevos-entrantes" class="form-label">Edad</label>
                            <input type="number" class="form-control" id="nuevos-entrantes">
                        </div>
                        <div class="mb-12">
                            <label for="nuevos-entrantes" class="form-label">Correo institucional</label>
                            <input type="email" class="form-control" id="nuevos-entrantes">
                        </div>
                        <button type="submit" class="btn btn-primary" style="margin-top:2%;">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>