<app-navbar></app-navbar>
<!-- register.component.html -->
<div class="container col-xl-12 col-xxl-12 px-4 py-5">
    <div class="row align-items-start g-lg-5 py-5">
        <div class="col-lg-6 text-lg-start">
            <h3 class="display-6 fw-bold lh-1 text-body-emphasis mb-3">Registro EstraMyPyme</h3>
            <p class="col-lg-12 fs-5">
                <strong>Optimice sus Estrategias:</strong> Evalué y mejore sus estrategias empresariales con nuestra herramienta.
                <br>
                <strong>Registro Personalizado:</strong> Reciba recomendaciones adaptadas a sus necesidades específicas.
              
            </p>
            <div class="text-center">
                <img class="img-fluid mx-auto" src="img/register/f_02.png"  alt="Descripción de la imagen">
            </div>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <form (submit)="onSubmit($event)" class="p-4 p-md-5 border rounded-3 bg-body-tertiary shadow-sm">
                <div class="form-floating mb-3">
                    <select class="form-select form-select-sm shadow-sm" id="floatingSelect" aria-label="Tipo de persona" (change)="onPersonTypeChange($event)">
                        <option selected hidden>Selecciona un tipo</option>
                        <option value="Natural">Natural</option>
                        <option value="Jurídica">Jurídica</option>
                    </select>
                    <label for="floatingSelect">Tipo de Persona</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control form-control-sm shadow-sm" id="floatingDocument" placeholder="Nit o Documento">
                    <label for="floatingDocument">Nit o Documento</label>
                </div>
                
                <div class="form-floating mb-3" >
                    <input type="text" class="form-control form-control-sm shadow-sm" id="floatingLegalName" placeholder="Nombre o Razón Social" >
                    <label for="floatingLegalName">Nombre o Razón Social</label>
                </div>
                <div class="form-floating mb-3" [hidden]="personType !== 'Jurídica'">
                    <select class="form-select form-select-sm shadow-sm" id="floatingCompanyType" aria-label="Tipo de empresa">
                        <option selected hidden>Selecciona un tipo</option>
                        <option value="1">Pequeña</option>
                        <option value="2">Mediana</option>
                        <option value="3">Grande</option>
                        <option value="4">Gran Empresa</option>
                    </select>
                    <label for="floatingCompanyType">Tipo de Empresa</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control form-control-sm shadow-sm" id="floatingSector" list="sectorOptions" aria-label="Sector económico" placeholder="Sector económico">
                    <datalist id="sectorOptions">
                        <option value="Agricultura"></option>
                        <option value="Ganadería"></option>
                        <option value="Pesca"></option>
                        <option value="Minería"></option>
                        <option value="Silvicultura"></option>
                        <option value="Industria"></option>
                        <option value="Construcción"></option>
                        <option value="Energía"></option>
                        <option value="Textiles"></option>
                        <option value="Comercio"></option>
                        <option value="Turismo"></option>
                        <option value="Servicios Financieros"></option>
                        <option value="Educación"></option>
                        <option value="Salud"></option>
                        <option value="Transporte"></option>
                        <option value="Tecnología de la Información"></option>
                        <option value="Servicios Públicos"></option>
                        <option value="Medios de Comunicación"></option>
                        <option value="Servicios Profesionales"></option>
                    </datalist>
                    <label for="floatingSector">Sector Económico</label>
                </div>
                
                
                <div class="form-floating mb-3">
                    <input type="email" class="form-control form-control-sm shadow-sm" id="floatingEmail" placeholder="name@example.com">
                    <label for="floatingEmail">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control form-control-sm shadow-sm" id="floatingPassword" placeholder="Contraseña">
                    <label for="floatingPassword">Contraseña</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control form-control-sm shadow-sm" id="floatingRepeatPassword" placeholder="Repetir Contraseña">
                    <label for="floatingPassword">Repetir Contraseña</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary shadow" type="submit" style="background-color: #3b71ca;">Registrar</button>
                <hr class="my-4">
                <small class="text-body-secondary">                  
                  ¿Si ya tienes cuenta? <a href="/login">Iniciar sesión aquí</a>.
                </small>
            </form>
        </div>
    </div>
</div>


  <app-footer></app-footer>
  