.oval-image-container {
    width: 550px;
    height: 550px;
    overflow: hidden;
    position: relative;
    border-radius: 50% / 30%;
}

.oval-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.informativo {

  color: aqua;
  }
  
  .informativo {
    position: relative;
    color: #0061DF; /* Color inicial del texto */
    font-size: 2rem; /* Tamaño de fuente ajustado si es necesario */
    transition: color 0.3s ease; /* Transición suave para el cambio de color */
  }
  
  .informativo::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #0061DF; /* Color de la línea de subrayado */
    transition: width 0.3s ease, background-color 0.3s ease; 
    -webkit-transition: width 0.4s ease, background-color 0.4s ease;
  }
  
  .informativo:hover {
    color: #00006D; /* Cambia el color del texto cuando se pasa el mouse */
  }
  
  .informativo:hover::after {
    width: 100%; /* Subraya completamente el texto */
    background: #F8D302; /* Cambia el color de la línea de subrayado */
  }
  
.card-title{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-text{
  margin-top: 40px;
  text-align: justify;
  word-break: break-word;
}