<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top">
    <div class="container">
      <a class="navbar-brand mx-auto d-lg-none" href="#">
        <img class="logo" src="assets/Logo.svg" alt="Universidad EAFIT" height="45">
      </a>
      <a class="navbar-brand d-none d-lg-block" href="#">
        <img class="logo" src="assets/Logo.svg" alt="Universidad EAFIT" height="45">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation" style="border:0px;">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item me-4 ">
            <a class="nav-link text-dark" routerLink="">Inicio</a>
          </li>
          <li class="nav-item me-4 ">
            <a class="nav-link text-dark" routerLink="/register">Registro</a>
          </li>
          <li class="nav-item ">
            <a class="btn btn-dark text-white rounded-pill px-4" routerLink="/login">Iniciar sesión</a>
          </li>
        
        </ul>
      </div>
    </div>
  </nav>

  <!-- Offcanvas Menu -->
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header">
      <img class="logo responsive" src="assets/Logo.svg" alt="Universidad EAFIT" height="45">
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        <li class="nav-item">
          <a class="nav-link" href="">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Registro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Iniciar sesión</a>
        </li>
      </ul>
    </div>
  </div>
</header>

<main> 
  <router-outlet></router-outlet>
</main>

<footer id="foot" class="bg-dark text-white text-center py-3">
  <div class="container-footer">
    <div class="footer-row">
      <div class="footer-links">
        <h3>Contactános</h3>
        <li><a href="https://www.eafit.edu.co/campus-eafit">EAFIT Medellín</a></li>
        <br>
        <li>Carrera 49 N° 7 Sur-50</li>
        <li>Línea nacional: 01 8000 515 900</li>
        <li>Línea de atención (57) 604 2619500</li>
        <li><a href="https://api.whatsapp.com/send?phone=573108992908">Whatsapp: (57) 310 8992908</a></li>
        <li><a href="https://www.eafit.edu.co/centrodevisitantes"></a>Atención al visitante</li>
        
        <br>
        <li><a href="https://www.eafit.edu.co/pereira/Paginas/home.aspx">EAFIT Pereira</a></li>
        <br>
        <li>Carrera 19 #12-70 Megacentro Pinares</li>
        <li>(57) 606 3214115,  606 3214119</li>

        <br>
        <li><a href="https://www.eafit.edu.co/bogota/Paginas/home.aspx">EAFIT Bogotá</a></li>
        <br>
        <li>Carrera 15 #88-64 oficina 401​</li>
        <li>(57) 601 6114618</li>

        <br>
        <li><a href="https://www.eafit.edu.co/llanogrande/Paginas/inicio.aspx">EAFIT Llanogrande</a></li>
        <br>
        <li>Km 3.5 vía Don Diego –Rionegro</li>
        
      </div>
      <div class="footer-links">
        <h3>Síguenos</h3>
        <div class="social-links">
          <a href="https://www.facebook.com/universidadeafit"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/eafit/"><i class="fab fa-instagram"></i></a>
          <a href="https://x.com/eafit?mx=2"><i class="fab fa-twitter"></i></a>
          <br>
          <a href="https://co.linkedin.com/school/universidadeafit/"><i class="fab fa-linkedin"></i></a>
          <a href="https://www.youtube.com/user/ueafit"><i class="fab fa-youtube"></i></a>
          <a href="https://open.spotify.com/show/7CcuvStr0qJRBv0hU8cvwX?si=bc16896ca1934f86&nd=1&dlsi=5fe75c49f2c5433d"><i class="fab fa-spotify"></i></a>
        </div>
      </div>
      <div class="footer-links">
        <a href="https://www.eafit.edu.co/"><img src="https://www.eafit.edu.co/SiteCollectionImages/logo_eafit_blanco.png" alt="logo_eafit_blanco"></a>
        <br>
        <div class="acreditation">
          <p>&copy; 2024 Universidad EAFIT. Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
