<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top">
    <div class="container">
      <a class="navbar-brand mx-auto d-lg-none" href="#">
        <img class="logo" src="assets/Logo.svg" alt="Universidad EAFIT" height="45">
      </a>
      <a class="navbar-brand d-none d-lg-block" href="#">
        <img class="logo" src="assets/Logo.svg" alt="Universidad EAFIT" height="45">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation" style="border:0px;">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item me-4 ">
            <a class="nav-link text-dark" routerLink="">Inicio</a>
          </li>
          <li class="nav-item me-4 ">
            <a class="nav-link text-dark" routerLink="/register">Registro</a>
          </li>
          <li class="nav-item ">
            <a class="btn btn-dark text-white rounded-pill px-4" routerLink="/login">Iniciar sesión</a>
          </li>
          <li class="nav-item ">
            <a class="btn btn-dark text-white rounded-pill px-4 test" routerLink="/login">Hacer test</a>
          </li>
        
        </ul>
      </div>
    </div>
  </nav>

  <!-- Offcanvas Menu -->
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header">
      <img class="logo responsive" src="assets/Logo.svg" alt="Universidad EAFIT" height="45">
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        <li class="nav-item">
          <a class="nav-link" href="">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Registro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/test">Iniciar sesión</a>
        </li>
      </ul>
    </div>
  </div>
</header>

<main> 
  <router-outlet></router-outlet>
</main>

<footer id="foot" class= "footer">
  <div class="container-footer">
    <div class="footer-row">
      <div class="footer-links">
        <h3>Contactános</h3>
        <ul>
          <li><a href="https://www.eafit.edu.co/campus-eafit">EAFIT Medellín</a></li>
          <li>Carrera 49 N° 7 Sur-50</li>
          <li>Línea Nacional: 01 8000 515 900</li>
          <li>Línea de Atención (57) 604 2619500</li>
        </ul>
        
      </div>
      <div class="footer-links">
        <h3>Síguenos</h3>
        <div class="social-links">
          <a href="https://www.facebook.com/universidadeafit" class="fab fa-facebook-f"></a>
          <a href="https://www.instagram.com/eafit/" class="fab fa-instagram"></a>
          <a href="https://x.com/eafit?mx=2" class="fab fa-twitter"></a>
          <a href="https://co.linkedin.com/school/universidadeafit/" class="fab fa-linkedin"></a>
          <a href="https://www.youtube.com/user/ueafit" class="fab fa-youtube"></a>
          <a href="https://open.spotify.com/show/7CcuvStr0qJRBv0hU8cvwX?si=bc16896ca1934f86&nd=1&dlsi=5fe75c49f2c5433d" class="fab fa-spotify"></a>
        </div>
      </div>
      <div class="footer-links">
        <a href="https://www.eafit.edu.co/"><img src="https://www.eafit.edu.co/SiteCollectionImages/logo_eafit_blanco.png" alt="logo_eafit_blanco"></a>
        <br>
        <div class="acreditation">
          <p>&copy; 2024 Universidad EAFIT. Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
