
<aside id="sidebar" class="js-sidebar">
    <!-- Content For Sidebar -->
    <div class="h-200">
        <div class="sidebar-logo">
          <img class="logo responsive" src="img/Logo.svg" alt="Universidad EAFIT" height="45">
        </div>
        <ul class="sidebar-nav">
            <li class="sidebar-header">
                 Elementos Cliente
            </li>
            <li class="sidebar-item">
                <a routerLink="/customer" class="sidebar-link">
                    <i class="fa-solid fa-home pe-2"></i>
                    Inicio
                </a>
            </li>
          
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-target="#diagnostico" data-bs-toggle="collapse"
                    aria-expanded="false"><i class="fa-solid fa-chart-line pe-2"></i>
                    Diagnóstico
                </a>
                
                <ul id="diagnostico" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a routerLink="/performtest" class="sidebar-link">Realizar Test</a>
                    </li>
                    <li class="sidebar-item">
                        <a routerLink="/consulting" class="sidebar-link">Asesoria</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-target="#recursos" data-bs-toggle="collapse"
                    aria-expanded="false"><i class="fa-solid fa-book pe-2"></i>
                    Recursos
                </a>
                <ul id="recursos" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a routerLink="/estramipymebook" class="sidebar-link">Libro EstraMiPyme</a>
                    </li>
                    <li class="sidebar-item">
                        <a routerLink="/customer" class="sidebar-link">Manuales y Guías</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-target="#resultados" data-bs-toggle="collapse"
                    aria-expanded="false"><i class="fa-solid fa-chart-bar pe-2"></i>
                    Resultados
                </a>
                <ul id="resultados" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a routerLink="/diagnostics" class="sidebar-link">Ver Diagnósticos</a>
                    </li>
                    <li class="sidebar-item">
                        <a routerLink="/customer" class="sidebar-link">Reportes</a>
                    </li>
                </ul>
            </li>
          
            <li class="sidebar-header">
                Seguridad
            </li>
            <li class="sidebar-item">
                <a href="/configuracion" class="sidebar-link">
                    <i class="fa-solid fa-user-cog pe-2"></i>
                    Configuración
                </a>
            </li>
            <li class="sidebar-item">
                <a href="/soporte" class="sidebar-link">
                    <i class="fa-solid fa-life-ring pe-2"></i>
                    Soporte Técnico
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link" >
                    <i class="fa-solid fa-sign-out-alt pe-2"></i>
                    Cerrar Sesión
                </a>
            </li>
        </ul>
    </div>
</aside>