<nav class="navbar navbar-expand px-3 border-bottom shadow-sm">
    <button class="btn" id="sidebar-toggle" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse navbar">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
            <img src="img/panel/user.png" class="avatar img-fluid rounded" alt="">
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <a href="#" class="dropdown-item">
            {{ userEmail }}
            </a>
            <hr>
            <a class="dropdown-item" (click)="handleLogout()">
              <i class="fa-solid fa-sign-out-alt pe-2"></i> Cerrar Sesión
            </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  