<app-navbar></app-navbar>

<div class="container marketing">

    <!-- Acerca del Sistema de Diagnóstico Empresarial -->
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Acerca del Sistema <span class="text-body-secondary">Empresarial</span></h2>
        <p class="lead">Nuestro sistema, basado en la guía *EstraMyPyme*, ayuda a las PyMEs a diagnosticar su desempeño y mejorar continuamente.</p>
        <p class="lead"><strong>Beneficios:</strong></p>
        <ul class="lead">
          <li><strong>Diagnóstico Detallado:</strong> Evaluación de fortalezas y debilidades.</li>
          <li><strong>Planificación Estratégica:</strong> Alineación de recursos con objetivos.</li>
          <li><strong>Gestión de Recursos:</strong> Administración eficiente de recursos.</li>
          <li><strong>Innovación Continua:</strong> Adaptación y mejora constante.</li>
        </ul>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="img/about/hero1.png" alt="Sistema de Diagnóstico Empresarial" width="500" height="500">
      </div>
    </div>
  
    <!-- /END THE FEATURETTES -->
</div>


  <app-footer></app-footer>
