/* Establecer el color predeterminado para los iconos */
.icon-default {
    color: rgb(71, 71, 71);
}

/* Estilos para el hover del icono de editar */
.icon-edit:hover {
    color: #0ae293; 
}

/* Estilos para el hover del icono de eliminar */
.icon-delete:hover {
    color: red;
}
/*alinea el contenido de la table con id example */
#example {
    text-align: center;
  }
  
  #example thead th {
    text-align: center;
  }
  
  #example tbody td {
    text-align: center;
  }