<aside id="sidebar" class="js-sidebar shadow">
    <!-- Content For Sidebar -->
    <div class="h-100">
        <div class="sidebar-logo">
          <img class="logo responsive" src="img/Logo.svg" alt="Universidad EAFIT" height="45">
        </div>
        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Elementos Admin
            </li>
            <li class="sidebar-item">
                <a href="/admin" class="sidebar-link">
                    <i class="fa-solid fa-tachometer-alt pe-2"></i>
                    Dashboard
                </a>
            </li>
           
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-target="#registros" data-bs-toggle="collapse"
                    aria-expanded="false"><i class="fa-solid fa-clipboard-list pe-2"></i>
                    Registros
                </a>
                <ul id="registros" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="/admin/records" class="sidebar-link">Ver Registros</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-target="#pruebas" data-bs-toggle="collapse"
                    aria-expanded="false"><i class="fa-solid fa-chart-bar pe-2"></i>
                    Pruebas Diagnósticas
                </a>
                <ul id="pruebas" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="/admin/results" class="sidebar-link">Ver Resultados</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/admin/addtest" class="sidebar-link">Agregar Prueba</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-target="#consultores" data-bs-toggle="collapse"
                    aria-expanded="false"><i class="fa-solid fa-users pe-2"></i>
                    Consultores
                </a>
                <ul id="consultores" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a routerLink="/admin/consultants" class="sidebar-link">Ver Consultores</a>
                    </li>
                    <li class="sidebar-item">
                        <a routerLink="/admin/addconsultant" class="sidebar-link">Agregar Consultor</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-target="#reportes" data-bs-toggle="collapse"
                    aria-expanded="false"><i class="fa-solid fa-file-alt pe-2"></i>
                    Reportes
                </a>
                <ul id="reportes" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="/admin/report" class="sidebar-link">Generar Reporte</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-header">
                Seguridad
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-target="#usuarios" data-bs-toggle="collapse"
                    aria-expanded="false"><i class="fa-solid fa-user-plus pe-2"></i>
                    Usuarios
                </a>
                <ul id="usuarios" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="/admin/userlist" class="sidebar-link">Lista de Usuarios</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/admin/adduser" class="sidebar-link">Agregar Usuario</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-target="#configuracion" data-bs-toggle="collapse"
                    aria-expanded="false"><i class="fa-solid fa-cogs pe-2"></i>
                    Configuración
                </a>
                <ul id="configuracion" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Perfil</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Seguridad</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</aside>
