<footer class="footer">
    <div class="container-fluid">
        <div class="row text-muted">
            <div class="col-6 text-start">
                <p class="mb-0">
                    <a href="#" class="text-muted">
                        <strong>Eafit Editorial</strong>
                    </a>
                </p>
            </div>
            <div class="col-6 text-end">
                <ul class="list-inline">
                   
                    <li class="list-inline-item">
                        <a href="#" class="text-muted">&copy; 2024 Todos los Derechos Reservados</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>