/* You can add global styles to this file, and also import other style files */
/* Para navegadores Webkit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px; /* Ancho del scrollbar vertical */
    height: 8px; /* Altura del scrollbar horizontal */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color del pulgar del scrollbar */
    border-radius: 10px; /* Radio de borde del pulgar del scrollbar */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del pulgar del scrollbar al pasar el mouse por encima */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de la pista del scrollbar */
  }
  
  /* Para Firefox */
  html {
    scrollbar-width: thin; /* Hace que el scrollbar sea delgado */
    scrollbar-color: #888 #f1f1f1; /* Color del pulgar y la pista del scrollbar */
  }

body {
    padding-top: 73px; /* Ajusta este valor según la altura de tu navbar */
    -ms-overflow-style: scrollbar; /* Hace que el scrollbar sea visible en IE/Edge */
    
}
main {
    margin-bottom: 40px; /* Ajusta este valor según la separación que desees */
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40; /* Color de fondo oscuro para el footer */
    color: white; /* Color de texto blanco para el footer */
    text-align: center;
    padding: 15px 0; /* Espaciado interno del footer */
}
/*POR QUE NO FUNCIONA?*/
#foot{
    top: 35px;
    color: red;
    position: relative;
}
.myBtn{
    transition: transform 600ms;
}
.myBtn:hover{
    transform: scale(1.4);
}
a:hover{
    text-decoration: wavy;
}
.logo{
    transition: transform 600ms;
}
.logo:hover{
    transform: scale(1.2);
}