
<section >
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
              <!-- Video insertado aquí -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/emo0kUa993U?si=z0_q-cHP7LA14GaX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="carousel-caption d-none d-md-block">
              <h5>Metodología EstraMyPyme</h5>
              <p>Evaluando para mejorar estrategias empresariales.</p>
            </div>
          </div>
          <div class="carousel-item">
           <!-- Imagen insertada en el segundo slide -->
           <img src="assets/img/slide1.png" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="550" alt="Slide 2">
           <div class="carousel-caption d-none d-md-block">
             <h5>Herramienta</h5>
              <p>Para una visión integral del negocio.</p>
            </div>
          </div>
          <div class="carousel-item">
             <!-- Imagen insertada en el tercer slide -->
             <img src="assets/img/slide2.png" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="550" alt="Slide 2">
             <div class="carousel-caption d-none d-md-block">
               <h5>Integración y Colaboración</h5>
               <p>Herramientas efectivas para tu empresa o emprendimiento.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

</section>

<div class="container">
  <div class="row">
      <div class="col-md-8 offset-md-2">
          <h1 class="text-center mt-5 mb-4 informativo">Plataforma de EstraMyPyme</h1>
      </div>
  </div>
  <div class="container">
    <div class="row">
      <!-- Columna para el objetivo general -->
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="assets/img/banner1.png" class="card-img-top" alt="Objetivo">
          <div class="card-body">
            <h4 class="card-title mb-3">Objetivo</h4>
            <p class="card-text ">
              Bienvenido a nuestra plataforma diseñada para ofrecerte herramientas efectivas basadas en el libro "EstraMyPyme" de la editorial EAFit. Nuestro objetivo es ayudar a individuos y empresas a evaluar y mejorar sus estrategias empresariales de manera interactiva y personalizada.
            </p>
            <a href="#" class="btn btn-primary">Más información</a>
          </div>
        </div>
      </div>
      
      <!-- Columna para Registro y Identificación -->
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="assets/img/banner2.png" class="card-img-top" alt="Registro e Identificación">
          <div class="card-body">
            <h4 class="card-title mb-3">Registro e Identificación</h4>
            <p class="card-text">
              Regístrate en nuestra plataforma como persona natural o jurídica. Proporciona información detallada como nombre, tipo de empresa (pequeña, mediana, grande u otros), y sector al que perteneces. Si eres una empresa, también puedes ingresar tu razón social.
            </p>
            <a href="/register" class="btn btn-primary">Registrarse</a>
          </div>
        </div>
      </div>
      
      <!-- Columna para Panel de Administración -->
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="assets/img/banner3.png" class="card-img-top" alt="Panel de Administración">
          <div class="card-body">
            <h4 class="card-title mb-3">Panel de Administración</h4>
            <p class="card-text">
              Nuestro panel de administración ofrece una visión completa de los registros y resultados de las pruebas diagnósticas. Presentamos gráficas y datos relevantes para facilitar la interpretación y la toma de decisiones estratégicas que además permiten el seguimiento del proceso.
            </p>
            <a href="/login" class="btn btn-primary">Acceder al panel</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  