<div class="wrapper">
    <app-adminsidebar></app-adminsidebar>
       <div class="main">
           <app-adminnavbar></app-adminnavbar>
           <main class="content px-3 py-2">
               <div class="container-fluid">
                   <div class="mb-3">
                       <nav aria-label="breadcrumb">
                           <ol class="breadcrumb">
                             <li class="breadcrumb-item"><a href="/admin">Inicio</a></li>
                             <li class="breadcrumb-item active" aria-current="page"></li>
                             <li class="breadcrumb-item " aria-current="page"></li>
                           </ol>
                         </nav>
                   </div>
                   <div class="row">
                       <!-----Contenido aqui------->
                      
                    <h1>Consultores registrados</h1>
                    <app-template-consult
                    *ngFor="let consu of list"
                    [consult]="consu"
                    ></app-template-consult>
   
                   </div>
                
               </div>
           </main>
           
           <app-adminfooter></app-adminfooter>
       </div>
     </div>
