<div class="wrapper">
    <app-adminsidebar></app-adminsidebar>
       <div class="main">
           <app-adminnavbar></app-adminnavbar>
           <main class="content px-3 py-2">
               <div class="container-fluid">
                   <div class="mb-3">
                       <nav aria-label="breadcrumb">
                           <ol class="breadcrumb">
                             <li class="breadcrumb-item"><a href="/admin">Inicio</a></li>
                             <li class="breadcrumb-item active" aria-current="page"></li>
                             <li class="breadcrumb-item " aria-current="page"></li>
                           </ol>
                         </nav>
                   </div>
                   <div class="row">
                       <!-----Contenido aqui------->
                       <form action="" class="form-control form-control-sm shadow-sm">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control form-control-sm shadow-sm" id="nameConsult" placeholder="Nombre" >
                                <label for="nameConsult">Nombre</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control form-control-sm shadow-sm" id="nameConsult" placeholder="Nombre" >
                                <label for="nameConsult">Primer apellido</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control form-control-sm shadow-sm" id="nameConsult" placeholder="Nombre" >
                                <label for="nameConsult">Segundo apellido</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control form-control-sm shadow-sm" id="nameConsult" placeholder="Nombre" >
                                <label for="nameConsult">Correo institucional</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control form-control-sm shadow-sm" id="nameConsult" placeholder="Nombre" >
                                <label for="nameConsult">WhatsApp</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control form-control-sm shadow-sm" id="nameConsult" placeholder="Nombre" >
                                <label for="nameConsult">Cargo en la universidad</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control form-control-sm shadow-sm" id="nameConsult" placeholder="Nombre" >
                                <label for="nameConsult">Años de experiencia</label>
                            </div>
                            <button class="w-100 btn btn-lg btn-primary shadow" type="submit" style="background-color: #3b71ca;">Añadir consultor</button>

                       </form>
                      
   
                   </div>
                
               </div>
           </main>
           
           <app-adminfooter></app-adminfooter>
       </div>
     </div>
