<div class="wrapper">
    <app-customersidebar></app-customersidebar>
       <div class="main">
           <app-customernavbar></app-customernavbar>
           <main class="content px-3 py-2">
               <div class="container-fluid">
                   <div class="mb-3">
                       <nav aria-label="breadcrumb">
                           <ol class="breadcrumb">
                             <li class="breadcrumb-item"><a href="/customer">Inicio</a></li>
                             <li class="breadcrumb-item active" aria-current="page">Diagnóstico</li>
                             <li class="breadcrumb-item " aria-current="page">Realizar Test</li>
                           </ol>
                         </nav>
                   </div>
                   <div class="row">

                    <div class="col-12 text-center mb-4">
                        <h2 style="font-family: 'Roboto', sans-serif; font-weight: 700; color: #34495e;">📝 Diagnóstico Estratégico de tu Negocio</h2>
                        <p style="font-family: 'Roboto', sans-serif; color: #7f8c8d;">Responde las preguntas a continuación para evaluar y mejorar tu negocio.</p>
                    </div>
                
                
                    <form action="" class="form-control form-control-sm shadow-sm">
                        <!-- Pregunta 1 -->
                        <div class="form-floating mb-3">
                            <textarea class="form-control form-control-sm shadow-sm" #businessData placeholder="Datos del negocio" style="height: 100px;"></textarea>
                            <label for="businessData">¿Cuáles son los datos y características más importantes de tu negocio?</label>
                        </div>
                
                        <!-- Pregunta 2 -->
                        <div class="form-floating mb-3">
                            <textarea class="form-control form-control-sm shadow-sm" #trends placeholder="Tendencias mundiales" style="height: 100px;"></textarea>
                            <label for="trends">¿Qué tendencias mundiales has identificado en internet que podrían afectar a tu negocio en el futuro?</label>
                        </div>
                
                        <!-- Pregunta 3 -->
                        <div class="form-floating mb-3">
                            <textarea class="form-control form-control-sm shadow-sm" #conversationInfo placeholder="Información relevante" style="height: 100px;"></textarea>
                            <label for="conversationInfo">¿Has conversado con personas que conocen del negocio y del sector? Si es así, ¿Qué información relevante obtuviste?</label>
                        </div>
                
                        <!-- Pregunta 4 -->
                        <div class="form-floating mb-3">
                            <textarea class="form-control form-control-sm shadow-sm" #competitors placeholder="Competidores principales" style="height: 100px;"></textarea>
                            <label for="competitors">¿Quiénes son los principales competidores en tu sector?</label>
                        </div>
                
                        <!-- Pregunta 5 -->
                        <div class="form-floating mb-3">
                            <textarea class="form-control form-control-sm shadow-sm" #newEntrants placeholder="Nuevos entrantes" style="height: 100px;"></textarea>
                            <label for="newEntrants">¿Existen posibles nuevos entrantes en tu sector?</label>
                        </div>
                
                        <!-- Pregunta 6 -->
                        <div class="form-floating mb-3">
                            <textarea class="form-control form-control-sm shadow-sm" #substitutes placeholder="Productos sustitutos" style="height: 100px;"></textarea>
                            <label for="substitutes">¿Qué productos sustitutos podrían amenazar tu negocio y quién tiene más poder de negociación en el sector (clientes o proveedores)?</label>
                        </div>
                
                        <!-- Pregunta 7 -->
                        <div class="form-floating mb-3">
                            <textarea class="form-control form-control-sm shadow-sm" #relatedTrends placeholder="Tendencias mundiales relacionadas" style="height: 100px;"></textarea>
                            <label for="relatedTrends">¿Cuáles tendencias mundiales tienen mayor relación con tu sector y cuáles no?</label>
                        </div>
                
                        <!-- Pregunta 8 -->
                        <div class="form-floating mb-3">
                            <textarea class="form-control form-control-sm shadow-sm" #risksOpportunities placeholder="Riesgos y oportunidades" style="height: 100px;"></textarea>
                            <label for="risksOpportunities">¿Cuáles son los riesgos y oportunidades que has identificado en las tendencias mundiales y en el sector analizado?</label>
                        </div>
                
                        <!-- Pregunta 9 -->
                        <div class="form-floating mb-3">
                            <textarea class="form-control form-control-sm shadow-sm" #mainRiskOpportunity placeholder="Riesgo y oportunidad principal" style="height: 100px;"></textarea>
                            <label for="mainRiskOpportunity">¿Cuál consideras que es el principal riesgo y la principal oportunidad para tu negocio?</label>
                        </div>
                
                        <!-- Pregunta 10 -->
                        <div class="form-floating mb-3">
                            <textarea class="form-control form-control-sm shadow-sm" #businessPurposeInfo placeholder="Propósito del negocio" style="height: 100px;"></textarea>
                            <label for="businessPurposeInfo">¿Qué información relevante has obtenido de las conversaciones respecto al propósito del negocio, la propuesta de valor, los productos y servicios que ofrece, la percepción de valor de los clientes, y la política de precios?</label>
                        </div>
                
                        <!-- Pregunta 11 -->
                        <div class="form-floating mb-3">
                            <textarea class="form-control form-control-sm shadow-sm" #strategyTools placeholder="Herramientas de estrategia" style="height: 100px;"></textarea>
                            <label for="strategyTools">¿Qué herramientas de estrategia has aplicado para tener una visión integral del negocio?</label>
                        </div>
                
                        <!-- Pregunta 12 -->
                        <div class="form-floating mb-3">
                            <textarea class="form-control form-control-sm shadow-sm" #toolsHelp placeholder="Cómo han ayudado las herramientas" style="height: 100px;"></textarea>
                            <label for="toolsHelp">¿Cómo te han ayudado estas herramientas a entender mejor tu negocio?</label>
                        </div>
                
                        <button class="w-100 btn btn-lg btn-primary shadow" type="button" style="background-color: #3b71ca;">Enviar Diagnóstico</button>
                    </form>
                </div>
                
               </div>
           </main>
           
           <app-customerfooter></app-customerfooter>
       </div>
     </div>
     
